In [2]:
# import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# creating Series (array)

s1 = pd.Series([[1,3,5,np.nan,6,8]])
s1

0    [1, 3, 5, nan, 6, 8]
dtype: object

In [5]:
# creating DataFrames
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.366921  1.456192  0.470071  0.141426
2013-01-02 -0.157093  0.351878  1.584708 -1.395331
2013-01-03  1.389368 -0.638020 -0.699312 -0.278609
2013-01-04  0.150498 -0.595570 -0.109347 -1.016486
2013-01-05 -1.156315  0.820911 -0.236990  1.020724
2013-01-06  0.618433 -0.154181 -0.047290 -1.158780