### Creating and Manipulating DataBase

In [1]:
# import

```
Import Table, Column, String, Integer, Float, Boolean from sqlalchemy.
Build a new table called data with columns 'name' (String(255)), 'count' (Integer), 'amount'(Float), and 'valid' (Boolean) columns. The second argument of Table needs to be metadata, which is already initialized.
Create the table in the database by passing data to metadata.create_all().
```

In [2]:
# # Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
# from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# # Define a new table with a name, count, amount, and valid column: data
# data = Table('data', metadata,
#              Column('name', String(255)),
#              Column('count', Integer()),
#              Column('amount', Float()),
#              Column('valid', Boolean())
# )

# # Use the metadata to create the table
# metadata.create_all(engine)

# # Print table repr
# print(repr(data))

```
-Table, Column, String, Integer, Float, Boolean are already imported from sqlalchemy. - Build a new table called data with a unique name (String), count (Integer) defaulted to 1, amount (Float), and valid (Boolean) defaulted to False. - Hit submit to create the table in the database and to print the table details for data.
```

In [3]:
# # Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
# from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# # Define a new table with a name, count, amount, and valid column: data
# data = Table('data', metadata,
#              Column('name', String(255), unique=True),
#              Column('count', Integer(), default=1),
#              Column('amount', Float()),
#              Column('valid', Boolean(), default=False)
# )

# # Use the metadata to create the table
# metadata.create_all(engine)

# # Print the table details
# print(repr(metadata.tables['data']))

```
Import insert and select from the sqlalchemy module.
Build an insert statement for the data table to set name to 'Anna', count to 1, amount to 1000.00, and valid to True. Save the statement as stmt.
Execute stmt with the connection and store the results.
Print the rowcount attribute of results to see how many records were inserted.
Build a select statement to query for the record with the name of Anna.
Hit submit to print the results of executing the select statement.
```

In [4]:
# # Import insert and select from sqlalchemy
# from sqlalchemy import insert, select

# # Build an insert statement to insert a record into the data table: stmt
# stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# # Execute the statement via the connection: results
# results = connection.execute(stmt)

# # Print result rowcount
# print(results.rowcount)

# # Build a select statement to validate the insert
# stmt = select([data]).where(data.columns.name == 'Anna')

# # Print the result of executing the query.
# print(connection.execute(stmt).first())

```
Build a list of dictionaries called values_list with two dictionaries. In the first dictionary set name to 'Anna', count to 1, amount to 1000.00, and valid to True. In the second dictionary of the list, set name to 'Taylor', count to 1, amount to 750.00, and valid to False.
Build an insert statement for the data table for a multiple insert, save it as stmt.
Execute stmt with the values_list via connection and store the results.
Print the rowcount of the results.
```

In [5]:
# # Build a list of dictionaries: values_list
# values_list = [
#     {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
#     {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
# ]

# # Build an insert statement for the data table: stmt
# stmt = insert(data)

# # Execute stmt with the values_list: results
# results = connection.execute(stmt, values_list)

# # Print rowcount
# print(results.rowcount)

```
Create a statement for bulk insert into the census table and save it as stmt.
Create an empty list called values_list, create a variable called total_rowcount set to 0 (an empty list can be created with []).
Within the for loop, create a dictionary data for each row and append it to values_list. Within the for loop, row will be a list whose entries are state , sex, age, pop2000 and pop2008 (in that order);
Recall that, in the for loop, idx will be the csv line number. If 51 will cleanly divide into the current idx (NOTE: use the % operator and make sure it is 0), execute stmt with the values_list. Save the result as results. The results rowcount is then added to total_rowcount, and values_list is set back to an empty list.
Hit submit to print total_rowcount when done with all the records.
```

In [6]:
# # Create a insert statement for census: stmt
# stmt = insert(census)

# # Create an empty list and zeroed row count: values_list, total_rowcount
# values_list = []
# total_rowcount = 0

# # Enumerate the rows of csv_reader
# for idx, row in enumerate(csv_reader):
#     #create data and append to values_list
#     data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
#             'pop2008': row[4]}
#     values_list.append(data)

#     # Check to see if divisible by 51
#     if idx % 51 == 0:
#         results = connection.execute(stmt, values_list)
#         total_rowcount += results.rowcount
#         values_list = []

# # Print total rowcount
# print(total_rowcount)