### Creating and Manipulating DataBase

In [1]:
# import

```
Import Table, Column, String, Integer, Float, Boolean from sqlalchemy.
Build a new table called data with columns 'name' (String(255)), 'count' (Integer), 'amount'(Float), and 'valid' (Boolean) columns. The second argument of Table needs to be metadata, which is already initialized.
Create the table in the database by passing data to metadata.create_all().
```

In [2]:
# # Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
# from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# # Define a new table with a name, count, amount, and valid column: data
# data = Table('data', metadata,
#              Column('name', String(255)),
#              Column('count', Integer()),
#              Column('amount', Float()),
#              Column('valid', Boolean())
# )

# # Use the metadata to create the table
# metadata.create_all(engine)

# # Print table repr
# print(repr(data))

```
-Table, Column, String, Integer, Float, Boolean are already imported from sqlalchemy. - Build a new table called data with a unique name (String), count (Integer) defaulted to 1, amount (Float), and valid (Boolean) defaulted to False. - Hit submit to create the table in the database and to print the table details for data.
```

In [3]:
# # Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
# from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# # Define a new table with a name, count, amount, and valid column: data
# data = Table('data', metadata,
#              Column('name', String(255), unique=True),
#              Column('count', Integer(), default=1),
#              Column('amount', Float()),
#              Column('valid', Boolean(), default=False)
# )

# # Use the metadata to create the table
# metadata.create_all(engine)

# # Print the table details
# print(repr(metadata.tables['data']))

```
Import insert and select from the sqlalchemy module.
Build an insert statement for the data table to set name to 'Anna', count to 1, amount to 1000.00, and valid to True. Save the statement as stmt.
Execute stmt with the connection and store the results.
Print the rowcount attribute of results to see how many records were inserted.
Build a select statement to query for the record with the name of Anna.
Hit submit to print the results of executing the select statement.
```

In [4]:
# # Import insert and select from sqlalchemy
# from sqlalchemy import insert, select

# # Build an insert statement to insert a record into the data table: stmt
# stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# # Execute the statement via the connection: results
# results = connection.execute(stmt)

# # Print result rowcount
# print(results.rowcount)

# # Build a select statement to validate the insert
# stmt = select([data]).where(data.columns.name == 'Anna')

# # Print the result of executing the query.
# print(connection.execute(stmt).first())

```
Build a list of dictionaries called values_list with two dictionaries. In the first dictionary set name to 'Anna', count to 1, amount to 1000.00, and valid to True. In the second dictionary of the list, set name to 'Taylor', count to 1, amount to 750.00, and valid to False.
Build an insert statement for the data table for a multiple insert, save it as stmt.
Execute stmt with the values_list via connection and store the results.
Print the rowcount of the results.
```

In [5]:
# # Build a list of dictionaries: values_list
# values_list = [
#     {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
#     {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
# ]

# # Build an insert statement for the data table: stmt
# stmt = insert(data)

# # Execute stmt with the values_list: results
# results = connection.execute(stmt, values_list)

# # Print rowcount
# print(results.rowcount)

```
Create a statement for bulk insert into the census table and save it as stmt.
Create an empty list called values_list, create a variable called total_rowcount set to 0 (an empty list can be created with []).
Within the for loop, create a dictionary data for each row and append it to values_list. Within the for loop, row will be a list whose entries are state , sex, age, pop2000 and pop2008 (in that order);
Recall that, in the for loop, idx will be the csv line number. If 51 will cleanly divide into the current idx (NOTE: use the % operator and make sure it is 0), execute stmt with the values_list. Save the result as results. The results rowcount is then added to total_rowcount, and values_list is set back to an empty list.
Hit submit to print total_rowcount when done with all the records.
```

In [6]:
# # Create a insert statement for census: stmt
# stmt = insert(census)

# # Create an empty list and zeroed row count: values_list, total_rowcount
# values_list = []
# total_rowcount = 0

# # Enumerate the rows of csv_reader
# for idx, row in enumerate(csv_reader):
#     #create data and append to values_list
#     data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
#             'pop2008': row[4]}
#     values_list.append(data)

#     # Check to see if divisible by 51
#     if idx % 51 == 0:
#         results = connection.execute(stmt, values_list)
#         total_rowcount += results.rowcount
#         values_list = []

# # Print total rowcount
# print(total_rowcount)

### Updating individual records
```
Build a statement to select all columns from the state_fact table where the name column is New York. Call it select_stmt.
Print the results of executing the select_stmt and fetching all records.
Build an update statement to change the fips_state column code to 36, save it as stmt.
Append a where clause to filter for states states with the name of 'New York' in the state_fact table.
Execute stmt via the connection and save the output as results.
Hit Submit to print the rowcount of the results and to print the results of executing the select_stmt. This will verify the fips_state code is now 36.
```

In [7]:
# # Build a select statement: select_stmt
# select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# # Print the results of executing the select_stmt
# print(connection.execute(select_stmt).fetchall())

# # Build a statement to update the fips_state to 36: stmt
# stmt = update(state_fact).values(fips_state=36)

# # Append a where clause to limit it to records for New York state
# stmt = stmt.where(state_fact.columns.name == 'New York')

# # Execute the statement: results
# results = connection.execute(stmt)

# # Print rowcount
# print(results.rowcount)

# # Execute the select_stmt again to view the changes
# print(connection.execute(select_stmt).fetchall())

```
Build an update statement to update the notes column in the state_fact table to The Wild West. Save it as stmt.
Append a where clause to to filter for records have 'West' in the census_region_name column.
Execute stmt via the connection and save the output as results.
Hit submit to print rowcount of the results.
```

In [8]:
# # Build a statement to update the notes to 'The Wild West': stmt
# stmt = update(state_fact).values(notes='The Wild West')

# # Append a where clause to match the West census region records
# stmt = stmt.where(state_fact.columns.census_region_name == 'West')

# # Execute the statement: results
# results = connection.execute(stmt)

# # Print rowcount
# print(results.rowcount)

```
Build a statement to select the name column from state_fact. Save the statement as fips_stmt.
Append a where clause to fips_stmt that matches fips_state from the state_fact table with fips_code in the flat_census table.
Build an update statement to set the state_name in flat_census to fips_stmt. Save the statement as update_stmt.
Hit Submit to execute update_stmt, store the results and print the rowcount of results.
```

In [9]:
# # Build a statement to select name from state_fact: stmt
# fips_stmt = select([state_fact.columns.name])

# # Append a where clause to Match the fips_state to flat_census fips_code
# fips_stmt = fips_stmt.where(
#     state_fact.columns.fips_state == flat_census.columns.fips_code)

# # Build an update statement to set the name to fips_stmt: update_stmt
# update_stmt = update(flat_census).values(state_name=fips_stmt)

# # Execute update_stmt: results
# results = connection.execute(update_stmt)

# # Print rowcount
# print(results.rowcount)

### Deleting objects from DataBase
```
Import delete and select from sqlalchemy.
Build a delete statement to remove all the data from the census table; saved it as stmt.
Execute stmt via the connection and save the results.
Hit 'Submit Answer' to select all remaining rows from the census table and print the result to confirm that the table is now empty!
```

In [10]:
# # Import delete, select
# from sqlalchemy import delete, select

# # Build a statement to empty the census table: stmt
# stmt = delete(census)

# # Execute the statement: results
# results = connection.execute(stmt)

# # Print affected rowcount
# print(results.rowcount)

# # Build a statement to select all records from the census table
# stmt = select([census])

# # Print the results of executing the statement to verify there are no rows
# print(connection.execute(stmt).fetchall())

```
Build a delete statement to remove data from the census table; save it as stmt.
Execute stmt via the connection; save the results.
Append a where clause to stmt_del that filters for rows which have 'M' in the sex column AND 36 in the age column.
Hit Submit to print the rowcount of the results, as well as to_delete, which returns the number of rows that should be deleted. These should match and this is an important sanity check!
```

In [11]:
# # Build a statement to count records using the sex column for Men (M) age 36: stmt
# stmt = select([func.count(census.columns.sex)]).where(
#     and_(census.columns.sex == 'M',
#          census.columns.age == 36)
# )

# # Execute the select statement and use the scalar() fetch method to save the record count
# to_delete = connection.execute(stmt).scalar()

# # Build a statement to delete records from the census table: stmt_del
# stmt_del = delete(census)

# # Append a where clause to target man age 36
# stmt_del = stmt_del.where(
#     and_(census.columns.sex == 'M',
#          census.columns.age == 36)
# )

# # Execute the statement: results
# results = connection.execute(stmt_del)

# # Print affected rowcount and to_delete record count, make sure they match
# print(results.rowcount, to_delete)

```
Drop the state_fact table by applying the method drop() to it and passing it the argument engine (in fact, engine will be the sole argument for every function/method in this exercises!)
Check to see if state_fact exists via print.
Drop all the tables via the metadata.
Check to see if census exists via print.
```

In [ ]:
# # Drop the state_fact table
# state_fact.drop(engine)

# # Check to see if state_fact exists
# print(state_fact.exists(engine))

# # Drop all tables
# metadata.drop_all(engine)

# # Check to see if census exists
# print(census.exists(engine))

# print(engine.table_names())