## Working with Binary Data, HTML and Web APIs

In [3]:
import pandas as pd

In [4]:
# One of the easiest ways to store data efficiently in binary format is using Python’s built-
# in pickle serialization. 

# saving data as pickle
fh = pd.read_csv("dataset/Emp.csv")
print(len(fh))

34218

In [7]:
fh.to_pickle("dataset/emp1.pickle")

In [8]:
pd.read_pickle("dataset/emp1.pickle")

               LNAME        FNAME
0              AARON      ELVIA J
1              AARON    JEFFERY M
2              AARON  KIMBERLEI R
3            ABAD JR    VICENTE M
4         ABBATACOLA     ROBERT J
5             ABBATE      TERRY M
6        ABBATEMARCO      JAMES J
7             ABBOTT      BETTY L
8             ABBOTT     LYNISE M
9             ABBOTT        SAM J
10         ABDELHADI    ABDALMAHD
11        ABDELLATIF       AREF R
12       ABDELMAJEID         AZIZ
13     ABDOLLAHZADEH          ALI
14       ABDUL-KARIM   MUHAMMAD A
15          ABDULLAH        KEVIN
16          ABDULLAH    LAKENYA N
17          ABDULLAH     MOULAY R
18          ABDULLAH     RASHAD J
19           ABEJERO      JASON V
20           ABEJERO  RESTITUTO E
21             ABELS    KENNETH L
22       ABERCROMBIE      TIMOTHY
23         ABNER III      EWART G
24       ABOUELKHEIR     HASSAN A
25           ABRAHAM     DALINA D
26           ABRAHAM     GIRLEY T
27           ABRAHAM     GODWIN K
28           ABRAHAM          T M
29      ABRAMAVICIUS       ANNA A
...              ...          ...
34188      ZUNIGA JR        JAMES
34189         ZUNIGA       JOSE A
34190         ZUNIGA       JUAN M
34191         ZUNIGA       RONALD
34192         ZUNIGA      VICENTE
34193          ZUPAN       BILL M
34194          ZUPAN   VICTORIA J
34195          ZUPKO      LAURA J
34196       ZURAWSKI      CAROL A
34197       ZURAWSKI      JEFFREY
34198       ZURAWSKI        MAC Z
34199       ZURAWSKI       MARY E
34200          ZUREK      FRANCIS
34201          ZUREK       MARY H
34202         ZVANJA       TINA M
34203   ZWARYCZ MANN      IRENE A
34204       ZWIESLER      MATTHEW
34205           ZWIT    JEFFREY J
34206        ZWOLFER    MATTHEW W
34207        ZWOLSKI       MARY L
34208          ZYDEK        BRYAN
34209        ZYGADLO       JOHN P
34210        ZYGADLO    MICHAEL J
34211       ZYGOWICZ      PETER J
34212         ZYMALI     RONALD J
34213       ZYMANTAS       MARK E
34214      ZYNIEWICZ     ROBERT J
34215      ZYRKOWSKI      CARLO E
34216          ZYSKO      RICHARD
34217      ZYSKOWSKI      DARIUSZ

[34218 rows x 2 columns]

### Reading Microsoft Excel Files

In [4]:
xls_file = pd.ExcelFile('dataset/Emp.xls')

In [5]:
table = xls_file.parse('Sheet1')

In [6]:
table.head()

,LNAME,FNAME,JOB TITLE,DEPARTMENT,EMPLOYEE ANNUAL SALARY,ESTIMATED ANNUAL SALARY MINUS FURLOUGHS
0,AARON,ELVIA J,WATER RATE TAKER,WATER MGMNT,$81000.00,$73862.00
1,AARON,JEFFERY M,POLICE OFFICER,POLICE,$74628.00,$74628.00
2,AARON,KIMBERLEI R,CHIEF CONTRACT EXPEDITER,FLEET MANAGEMNT,$77280.00,$70174.00
3,ABAD JR,VICENTE M,CIVIL ENGINEER IV,WATER MGMNT,$96276.00,$96276.00
4,ABBATACOLA,ROBERT J,ELECTRICAL MECHANIC,WATER MGMNT,$84032.00,$76627.00

### Reading HTML and Web API

In [14]:
import tweepy

# Store OAuth authentication credentials in relevant variables
access_token = "1092294848-aHN7DcRP9B4VMTQIhwqOYiB14YkW92fFO8k8EPy"
access_token_secret = "X4dHmhPfaksHcQ7SCbmZa2oYBBVSD2g8uIHXsp5CTaksx"
consumer_key = "nZ6EA0FxZ293SxGNg8g8aP0HM"
consumer_secret = "fJGEodwe3KiKUnsYJC3VRndj7jevVvXbK2D5EiJ2nehafRgA6i"

# Pass OAuth details to tweepy's OAuth handler
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [15]:
import requests

url = 'https://api.twitter.com/1.1/search/tweets.json?q=datagenx'

resp = requests.get(url)

In [16]:
import json

data = json.loads(resp.text)
data.keys()

dict_keys(['errors'])

In [17]:
print(data)

{'errors': [{'code': 215, 'message': 'Bad Authentication data.'}]}

### Interacting with Databases

In [18]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

In [19]:
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [20]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [21]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
print(rows)

[('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]

In [22]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [23]:
pd.DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [25]:
import pandas.io.sql as sql

sql.read_frame('select * from test', con)

AttributeError: module 'pandas.io.sql' has no attribute 'read_frame'