In [1]:
# import
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
                columns=['one', 'two'])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
# printning sum of df columns
df.sum()

one    9.25
two   -5.80
dtype: float64

In [9]:
  df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [10]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [11]:
# NA values are excluded unless the entire slice is NA. This can be disabled using the skipna option
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

#### Options for reduction method
```
axis       Axis to reduce over. 0 for DataFrameâ€™s rows and 1 for columns.
skipna     Exclude missing values, True by default.
level      Reduce grouped by level if the axis is hierarchically-indexed (MultiIndex).
```

In [12]:
# idxmin and idxmax, return indirect statistics like the index value where the minimum or maximum values are attained
df.idxmin()

one    d
two    b
dtype: object

In [13]:
# for cumulative sum
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [19]:
# describing 
df.describe()

C:\tools\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%         NaN       NaN
50%         NaN       NaN
75%         NaN       NaN
max    7.100000 -1.300000

#### Descriptive and summary statistics
```
count               Number of non-NA values
describe            Compute set of summary statistics for Series or each DataFrame column
min, max            Compute minimum and maximum values
argmin, argmax      Compute index locations (integers) at which minimum or maximum value obtained, respectively
idxmin, idxmax      Compute index values at which minimum or maximum value obtained, respectively
quantile            Compute sample quantile ranging from 0 to 1
sum                 Sum of values
mean                Mean of values
median              Arithmetic median (50% quantile) of values
mad                 Mean absolute deviation from mean value
var                 Sample variance of values
std                 Sample standard deviation of values
skew                Sample skewness (3rd moment) of values
kurt                Sample kurtosis (4th moment) of values
cumsum              Cumulative sum of values
cummin, cummax      Cumulative minimum or maximum of values, respectively
cumprod             Cumulative product of values
diff                Compute 1st arithmetic difference (useful for time series)
pct_change          Compute percent changes
```