In [14]:
# import
import pandas as pd
import numpy as np

In [11]:
# creating a DataFrame
titanic = pd.read_table("dataset/titanic.txt", sep="|")
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [13]:
# printing info
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB
None

```
Import numpy using the standard alias np.
Assign the numerical values in the DataFrame df to an array np_vals using the attribute values.
Pass np_vals into the NumPy method log10() and store the results in np_vals_log10.
Pass the entire df DataFrame into the NumPy method log10() and store the results in df_log10.
Call print() and type() on both df_vals_log10 and df_log10, and compare. This has been done for you.
```

In [20]:
# # Create array of DataFrame values: np_vals
# np_vals = df.values

# # Create new array of base 10 logarithm values: np_vals_log10
# np_vals_log10 = np.log10(np_vals)

# # Create array of new DataFrame by passing df to np.log10(): df_log10
# df_log10 = np.log10(df)

# # Print original and new data containers
# print(type(np_vals), type(np_vals_log10))
# print(type(df), type(df_log10))

### Creating DataFrames

In [25]:
# creating two lists
list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]
print(type(list_keys))

<class 'list'>

In [26]:
#creating a list which have key, valye touple
zipped = list(zip(list_keys, list_values))
print(zipped)

[('Country', ['United States', 'Soviet Union', 'United Kingdom']), ('Total', [1118, 473, 273])]

In [27]:
# creating a disctionary from zipped values
data = dict(zipped)
print(data, "\n", type(data))

{'Total': [1118, 473, 273], 'Country': ['United States', 'Soviet Union', 'United Kingdom']}
 <class 'dict'>

In [28]:
# creating a dataframe
df = pd.DataFrame(data)
print(df)

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

In [31]:
# we can chanage the columns names
df.columns = ['Country_Name', 'Total_1']
print(df)

     Country_Name  Total_1
0   United States     1118
1    Soviet Union      473
2  United Kingdom      273

In [32]:
# Broadcasting of a variable in dataframe
state = 'UP'
cities = ['Kanpur', 'Agra', 'Lucknow']

# creating DataFrame
df = pd.DataFrame({'state':state, 'cities':cities})
print(df)

    cities state
0   Kanpur    UP
1     Agra    UP
2  Lucknow    UP

In [33]:
# # Read in the file: df1
# df1 = pd.read_csv('world_population.csv')

# # Create a list of the new column labels: new_labels
# new_labels = ['year', 'population']

# # Read in the file, specifying the header and names parameters: df2
# df2 = pd.read_csv('world_population.csv', header=0, names=new_labels)

# # Print both the DataFrames
# print(df1)
# print(df2)

```
Use pd.read_csv() without using any keyword arguments to read file_messy into a pandas DataFrame df1.
Use .head() to print the first 5 rows of df1 and see how messy it is. Do this in the IPython Shell first so you can see how modifying read_csv() can clean up this mess.
Using the keyword arguments delimiter=' ', header=3 and comment='#', use pd.read_csv() again to read file_messy into a new DataFrame df2.
Print the output of df2.head() to verify the file was read correctly.
Use the DataFrame method .to_csv() to save the DataFrame df2 to the file file_clean. Be sure to specify index=False.
Use the DataFrame method .to_excel() to save the DataFrame df2 to the file 'file_clean.xlsx'. Again, remember to specify index=False.
```